/* PAGE HOME */
.outWave {
    margin: 0 5%;
    text-align: justify;
}
footer {
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    padding: 5%;
}
.contact {
    width: 35%;
}
.hour {
    width: 25%;
}
.reseauSocial {
    width: 25%;
}