{% extends "base.html.twig" %}

{% block body %}
    <div class="inWave">
        <!--vague du header, plusieurs vagues-->
        <img class="wave" src="{{asset('images/wave2.svg')}}" alt="">
    </div>
    <div class="outWave">
        <!--premier paragraphe, pouvant servir à une présentation-->
        <h3>Démo</h3>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quibusdam amet nesciunt ea debitis nobis ipsum neque voluptate atque quos sequi consequuntur pariatur aliquid sapiente maxime, obcaecati reiciendis? Eos, fuga.</p>
    </div>
    <!--vague de séparation-->
    <div class="inWave">
        <img class="waveSeparate" src="{{asset('images/wave.svg')}}" alt="">
        <img class="waveSeparate" src="{{asset('images/wave2.svg')}}" alt="">
    </div>
    <div class="outWave">
        <!--deuxième paragraphe, pouvant servir de début de la 2eme page sur la nav avec un bouton "Lire la suite, reportant sur la page concernée"-->
        <h3>Autre démo</h3>
        <div class="content">
            <p>La plupart des petites structures ne peuvent disposer d'un administrateur capcable de maintenir les serveurs, d'effectuer les mises à jour des systhèmes et des applications, de modifier les droits d'accès ou tout simplement assister les opérateurs dans l'utilisation quotidienne de l'outil informatique. Pour cela, nous avons mis en place une télémaintenance comprenant : </p>
        </div>
    </div>
    <!--vague du footer-->
    <div class="inWave">
        <img class="wave" src="{{asset('images/wave.svg')}}" alt="">
    </div>
{% endblock body %}