{% extends "base.html.twig" %}

{% block body %}
    <div class="inWave">
        <!--vague du header, plusieurs vagues-->
        <img class="wave" src="{{asset('images/wave1.2.svg')}}" alt="">
    </div>
    <div class="outWave">
        <!--premier paragraphe, pouvant servir à une présentation-->
        <h3>Demander une démonstration</h3>
        <hr>
        <p>Notre prochaine session aura lieu le : </p>
        <p>METTRE LA DATE</p>
        <P>Si vous êtes intéressez contacter-nous via <a href="mailto:support@helpinfo.fr">MAIL</a></P>
    </div>
    <!--vague du footer-->
    <div class="inWave">
        <img class="wave" src="{{asset('images/wave2.1.svg')}}" alt="">
    </div>
{% endblock body %}