{% extends "base.html.twig" %}

{% block body %}
    <img src="../../img/wave.svg" alt="wave">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quibusdam amet nesciunt ea debitis nobis ipsum neque voluptate atque quos sequi consequuntur pariatur aliquid sapiente maxime, obcaecati reiciendis? Eos, fuga.</p>
{% endblock body %}
