{% extends "base.html.twig" %}

{% block body %}
    <div class="inWave">
        <!--vague du header, plusieurs vagues-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 270">
            <path fill="#f0f5fa" fill-opacity="1" d="M0,224L34.3,202.7C68.6,181,137,139,206,144C274.3,149,343,203,411,197.3C480,192,549,128,617,133.3C685.7,139,754,213,823,245.3C891.4,277,960,267,1029,229.3C1097.1,192,1166,128,1234,122.7C1302.9,117,1371,171,1406,197.3L1440,224L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path>
        </svg>
    </div>
    <div class="outWave">
        <!--premier paragraphe, pouvant servir à une présentation-->
        <h3 id="solution">Solutions GET-MS</h3>
        <hr>
        <h5>1 - Application de gestion des plannings : GET-MS</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quibusdam amet nesciunt ea debitis nobis ipsum neque voluptate atque quos sequi consequuntur pariatur aliquid sapiente maxime, obcaecati reiciendis? Eos, fuga.</p>
        <hr>
        <h5>2 - Caractéristiques techniques de l'application</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam incidunt adipisci, a reprehenderit error explicabo? Earum illum dolores quo, aut nihil unde expedita. Consectetur quia sequi consequuntur necessitatibus repudiandae deserunt?</p>
        <hr>
        <h5>3 - Agent et contrat</h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio animi maxime, reiciendis aspernatur voluptates facilis omnis deserunt aliquam eos, assumenda facere illum. Molestiae eos architecto asperiores ullam qui saepe deleniti.</p>
        <hr>
        <h5>4 - Horaire de base, roulement</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque autem molestias nam ipsum, hic laudantium eum illum iure magni voluptate dolorem dignissimos quibusdam pariatur, quod commodi eaque doloremque quaerat a? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem explicabo nesciunt ut. Est cumque delectus minus sunt assumenda voluptates architecto aperiam vero sit culpa. Voluptates perferendis beatae placeat molestiae sint! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, quasi minus natus necessitatibus veniam excepturi eaque reprehenderit repudiandae est beatae temporibus placeat odio magni libero possimus. Mollitia adipisci perferendis quidem?</p>
        <hr>
        <h5>5 - Journée planning</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quibusdam amet nesciunt ea debitis nobis ipsum neque voluptate atque quos sequi consequuntur pariatur aliquid sapiente maxime, obcaecati reiciendis? Eos, fuga.</p>
        <hr>
        <h5>6 - Planning individuel</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam incidunt adipisci, a reprehenderit error explicabo? Earum illum dolores quo, aut nihil unde expedita. Consectetur quia sequi consequuntur necessitatibus repudiandae deserunt?</p>
        <hr>
        <h5>7 - Planning journalier</h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio animi maxime, reiciendis aspernatur voluptates facilis omnis deserunt aliquam eos, assumenda facere illum. Molestiae eos architecto asperiores ullam qui saepe deleniti.</p>
        <hr>
        <h5>8 - Planning collectif</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quibusdam amet nesciunt ea debitis nobis ipsum neque voluptate atque quos sequi consequuntur pariatur aliquid sapiente maxime, obcaecati reiciendis? Eos, fuga.</p>
        <hr>
        <h5>9 - Plan de service</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam incidunt adipisci, a reprehenderit error explicabo? Earum illum dolores quo, aut nihil unde expedita. Consectetur quia sequi consequuntur necessitatibus repudiandae deserunt?</p>
        <hr>
        <h5>10 - Exporter</h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio animi maxime, reiciendis aspernatur voluptates facilis omnis deserunt aliquam eos, assumenda facere illum. Molestiae eos architecto asperiores ullam qui saepe deleniti.</p>
        <hr>
        <h5>11 - Editions</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sed aliquam ducimus itaque quas eos vel id, doloribus totam nam nihil consectetur inventore illo optio necessitatibus vero fuga, architecto ratione?</p>
    </div>
    <!--vague de séparation-->
    <div class="inWave">
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220">
            <path fill="#f0f5fa" fill-opacity="0.95" d="M0,96L34.3,90.7C68.6,85,137,75,206,64C274.3,53,343,43,411,58.7C480,75,549,117,617,154.7C685.7,192,754,224,823,224C891.4,224,960,192,1029,170.7C1097.1,149,1166,139,1234,144C1302.9,149,1371,171,1406,181.3L1440,192L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220">
            <path fill="#f0f5fa" fill-opacity="0.95" d="M0,96L34.3,90.7C68.6,85,137,75,206,64C274.3,53,343,43,411,58.7C480,75,549,117,617,154.7C685.7,192,754,224,823,224C891.4,224,960,192,1029,170.7C1097.1,149,1166,139,1234,144C1302.9,149,1371,171,1406,181.3L1440,192L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path>
        </svg>
    </div>
    <div class="outWave">
        <!--deuxième paragraphe, pouvant servir de début de la 2eme page sur la nav avec un bouton "Lire la suite, reportant sur la page concernée"-->
        <h3 id="maintenance">Maintenance et <a href="/site">Assistance</a></h3>
        <div class="content">
            <p>La plupart des petites structures ne peuvent disposer d'un administrateur capable de maintenir les serveurs, d'effectuer les mises à jour des systèmes et des applications, de modifier les droits d'accès ou tout simplement assister les opérateurs dans l'utilisation quotidienne de l'outil informatique. Pour cela, nous avons mis en place une télémaintenance comprenant : </p>
            <ul>
                <div class="divRow">
                    <img src="{{ asset('images/assistance2-0.jpg') }}" alt="">
                    <li class="liAssist">Une <span>maintenance préventive mensuelle</span> de votre serveur, en particulier pour vérifier les sauvegardes, l'antivirus, les disques etc</li>
                </div>
                <div class="divRow">
                    <img src="{{ asset('images/assistance3-1.jpg') }}" alt="">
                    <li class="liAssist">Une <span>maintenance curative</span> en cas d'incident logiciel et matériel. La maintenance à partir de votre appel téléphonique ou sur rendez-vous selon votre besoin.</li>
                </div>
                <div class="divRow">
                    <img src="{{ asset('images/assistance1-1.jpg') }}" alt="">
                    <li class="liAssist"><span>L'assistance avec prise en mains à distance</span> aux ordinateurs de bureau est un complément de la maintenance serveur. Elle permet aux utilisateurs de solliciter par téléphone la maintenance pour résoudre les dysfonctionnements du poste.</li>
                </div>
            </ul>
        </div>
    </div>
    <!--vague du footer-->
    <div class="inWave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#f0f5fa" fill-opacity="1" d="M0,224L34.3,202.7C68.6,181,137,139,206,144C274.3,149,343,203,411,197.3C480,192,549,128,617,133.3C685.7,139,754,213,823,245.3C891.4,277,960,267,1029,229.3C1097.1,192,1166,128,1234,122.7C1302.9,117,1371,171,1406,197.3L1440,224L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path>
        </svg>
    </div>
{% endblock body %}