{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
    <section class="section_one">
        <h3>Titre</h3>
        <div class="content">
            <img src="http://via.placeholder.com/200.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eaque amet fugiat, deleniti similique iste.</p>
        </div>
        <div class="content">
            <img src="http://via.placeholder.com/200.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eaque amet fugiat, deleniti similique iste.</p>
        </div>
        <div class="content">
            <img src="http://via.placeholder.com/200.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eaque amet fugiat, deleniti similique iste.</p>
        </div>
    </section>


{% endblock %}
